
body {
  background-color: #fcf9ea;
}

#jayimg {
  height: 370px;
  width: auto;
  float: right;
}

#header-container {
  padding-bottom: 0;
  background-color: #fda77f;
  width: 100%;
  height: 370px;
}

h1, h2 {
  color: #fcf9ea;
}

h1 {
  font-size: 9rem;
}

#header-left-div {

}


#header-text {
  font-size: 2rem;
  color: #5b0909;

}

#navbar-container {
  display: inline;
  color: red;
  

}

ul {
  margin: 20px;
  list-style-type:none;
  text-align: center;
  font-size: 3rem;
  color: #5b0909;
  display: inline;
}

#video-grid-container {
text-align: center;
margin: 30px 3px;
}

.v {
  height: 120px;
  width: auto;
}
