#jayimg {
  height: 35%;
  width: auto;
  position:fixed;
  right: 100px;
  bottom: 1px;
}

#header {
  margin: 20px 0 0 0;
  padding-bottom: 0;
  color: #5b0909;
}

.jumbotron {
  background-color: #f6cd90;
}

#jumbotron-header {
  height: 200px;
}

#videoheader {

text-align: center;
}

#video-header-text {
  font-size: 4rem;
text-align: center;
  color: #5b0909;
}

ul {
  margin: 20px;
  list-style-type:none;
  text-align: center;
  font-size: 3rem;
    color: #5b0909;
}

#video-grid-container {
text-align: center;
margin: 30px 3px;
}

.v {
  height: 120px;
  width: auto;
}
